body{
    color: #fff;
}
.site-header{
    display: flex;
    justify-content: space-between;
}
.site-header-name{
    color: #2A254B;
}
.site-header-list{
    display: flex;
    justify-content: space-between;
    list-style: none;
}
.site-navigation-list{
    list-style: none;
    display: flex;
    justify-content:space-around;
}
.navigation-link{
    text-decoration: none;
    color: #726E8D;
}
.site-design-parent{
    display: flex;
    list-style: none;
}
.site-design-information{
    width: 1280px;
    height: 584px;
    background-color: #2A254B;
}
.site-design-name{
    width: 513px;
    height: 90px;
}
.site-hero-block{
    width: 170px;
    height: 56px;
    padding: 16px 32px 16px 32px;
    text-decoration: none;
    color: #fff;
    background-color: #F9F9F926;
}
.site-design-image{
    width: 520px;
    height: 584px;
}
.site-defferens-name{
    color: #2A254B;
}